From: {{.From}}
To: {{.To}}
Subject: {{.Subject}}
Mime-Version: 1.0
Content-Type: text/plain; charset=UTF-8
Content-Transfer-Encoding: 7bit

Your updates
{{range .Feeds}}
# {{.URL}}
{{range .Updates}}
{{.URL}} {{.Title}}
{{end}}
{{end}}

{{if .BadFeeds}}
The following feeds could not be updated:
{{range .BadFeeds}}
{{.}}{{end}}{{end}}
Have a good day!
